{% extends 'base.html' %}
{% load static %}

{% block title %}Swiftstream | Home{% endblock %}

{% block body %}
{% comment %} top carousel {% endcomment %}

<style>
  .top,.top1,.top2{
    position: relative;
    background-size: 100% auto ;
    height:450px;
    background-position: center center;
    background-repeat: no-repeat ;
  }

  .top{
    background-color:blue;
    background-image:url('{% static 'mono1.jpg' %}');
  }
  .top1{
      background-color:blue;
      background-image:url('{% static 'mono2.jpg' %}');
  }
  .top2{
    background-color:blue;
      background-image:url('{% static 'slide2.jpg' %}');
  }

   .playlist{
    position: absolute;
    top: 20%;
    right: 150px;
    z-index: 20;
  }
  .bg-glass{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
  }
  .barner{
      position:   absolute  ;
      top:  20%;
      left:   120px;
      width: 40% ;
      z-index: 20;
      animation: opacityOn 5s normal forwards;
      animation-delay: 3s;
  }
  .title{
    font-family: 'Roboto', sans-serif;
    font-size:  40;
  }
  .min-title{
    font-family: sans-serif;font-size:  14;
  }
  
  .cardito:hover .crdto{
    /*box-shadow: 10px 10px gray;*/
    background-color: #f8f9fa;
  }
  @media screen and (max-width: 414px){
     .top,.top1,.top2{
        position: relative;
          background-color:red;
          /*background-image: url('{% static 'slide2.jpg' %}');*/
          width:100%;
          height:450px;
          background-position:center center;
          background-size:auto 100%;
          border-radius:0px 0px 10% 10% ;
          background-repeat: no-repeat;
      }

    .top{
      background-color:blue;
      background-image:url('{% static 'mono1.jpg' %}');
      }
      .top1{
          background-color:blue;
          background-image:url('{% static 'mono2.jpg' %}');
      }
       .top2{
          background-color:blue;
          background-image:url('{% static 'slide2.jpg' %}');
        }

      .barner{
          position:   absolute  ;
          top:  10% ;
          left: 0px;
          width: 90% ;
          padding: 20px;
      }
      .title{
          font-family: 'Roboto', sans-serif;
          font-size:  30;
      }
      .playlist{
        position: absolute;
        top: 75%;
        left: 20px;
      }

  }
  .round{
    border-radius: 30px;
  }
</style>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
   
    <div id="itemOn" class="carousel-item active top">
    </div>
    
    <div id="itemOn" class="carousel-item top1">
    </div>
    

    <div id="itemOn" class="carousel-item top2">
    </div>
    
    
    
  </div>
  
    <div  class="barner" >  
      <div class="text-light title " style="">
      Get your content buzzing on our site today! </div> 
      <div class=" py-md-4 py-3 text-light min-title" style="">
      contact us on WhatsApp</div> 
      <div class="btn btn-outline-light px-3 rounded-pill click"><i class="fab fa-whatsapp"></i> +20975550955</div>
    </div>
</div>
{% comment %} end of carousel {% endcomment %}
    
  
  <div class="col-md-7 col-10  mx-auto px-md-5 m-2 py-4 mx-md-5">
    <form class="d-flex" action="{% url 'articles:search'  %}">
      <input class="form-control me-2 " name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Q</button>
    </form>
  </div>

<!-- end search md -->
  <div class="px-5 d-none d-md-block bg-white mx-0">
    <div class="container px-md-5 ">
      <div class="row py-md-4">
        <div class="col-md-8 ">
          <div class="mx-2 col-8 text-dark pt-4 h4 ">Latest Articles </div>
          <div class="row row-cols-1 row-cols-md-2 g-4">
          {% for i in data %}
            <div class="col cardito">
                <div class="m-2 mage float-start card-img-top rounded" style="
                  background-image:url('{{i.thumb.url}}');
                  background-color:red;
                  width:95%;
                  height:250px;
                  background-position:center center;
                  background-size: auto 100%;
                "></div>
                <div class="card-body p-0">
                  <div class="crdto  rounded p-3">
                    <h5 class="card-title crdto" style="font-size:18px;">{{i.title}}</h5>
                     <p class="card-text" style="font-size:9px;">{{i.l_updated}}</p>
                      <a class="btn btn-sm btn-outline-danger rounded-pill px-4" href="{{i.get_absolute_url}}">more</a>
                    
                  </div>
                </div>
            </div>
          {% endfor %}
          </div>
          
        </div>

        <div class="col ">
          <div class="mx-2 col-8 text-dark px-4 pt-4 h5 ">Trending</div>
          {% for i in trend %}
             {% if i.cat.title == "Music" %}
            <div class="p-3 m-2" style="">
              <a  class=" d-flex" href="{{i.get_absolute_url}}" style="text-decoration:none;">
                  <div class="col-2 mx-2" style="
                      background-image:url('{{i.thumb.url}}');
                      background-color:red;
                      width:60px;
                      height:60px;
                      border-radius:10%;
                      background-position:center center;
                      background-size: auto 100%;
                    "></div>
                    <div>
                      <div class="h5" style="font-size:12pt">
                          {{i.title}}
                      </div>
                      <div style="font-size:12pt">last updated: {{i.l_updated}}</div>
                    </div>
                  </a>
                </div>
                {% endif %}
            {% endfor %}

            </div>
      </div>
    </div>
  </div>

<!-- <div class="title d-block d-flex pt-3 d-md-none col-12 container bg-white" style="">
</div>
 -->

{% comment %} end of top {% endcomment %}
<div class="container-md my-2 bg-white p-4 d-block d-md-none">
  <div class="mx-2 col-8 text-dark h5 pt-1">Buzzing Entry </div>
    {% for i in data %}
        <div class="m-2 d-flex my-4 " style="">
          <a class="stretched-link" href="{{i.get_absolute_url}}">
            <div class="col-2 mx-2" style="
              background-image:url('{{i.thumb.url}}');
              background-color:red;
              width:60px;
              height:60px;
              border-radius:10%;
              background-position:center center;
              background-size: auto 100%;
            "></div>
            <div>
              <div class="h5" style="font-size:12pt">
                  <a href="{{i.get_absolute_url}}" style="text-decoration:none;">{{i.title}}</a>
              </div>
              <div style="font-size:10pt;font-weight:bold">last updated: {{i.l_updated}}</div>
            </div>

         </a>
      </div>

    {% endfor %}
</div>




  <div class="container-md col-12 text-dark px-md-5 h5 pt-3 ">Collection Tags</div>
  <div class="container-md col mb-2 px-md-5 p-3  clearfix" style=""> 
    {% for d in cat %}
      <div class="m-2 col-5 col-md-2 p-3 text-light bg-dark  float-start">
          <div class=" p-0 m-0 col mx-auto ">
              <div class="p-2 h6 text-light" style="">{{d.title}}</div>
          </div>
      </div>
    {% endfor %}

    
  </div>

<div class="container-md  col-md-12 text-dark px-md-5 h5 pt-3 ">News </div>
<div class="container-md col-12 d-flex mb-2 px-md-5 p-3" style="overflow: auto;"> 
  {% for d in news %}
        <a class="" href="{{d.get_absolute_url}}">
        <div class="col-2 mx-2" style="
              background-image:url('{{d.thumb.url}}');
              background-color:red;
              width:220px;
              height:300px;
              border-radius:5%;
              background-position:center center;
              background-size: auto 100%;
              box-shadow: inset 3px 50px 50px #1A1A1A;
            ">
            <div id="cap">
              <div class="text-light p-2 h5" style="position:relative;text-shadow: 2px 2px #1A1A1A;botom:10px;">{{d.title}}</div>
             </div>
            
            </div>
          </a>
  {% endfor %}

  
</div>


<div class="container-md col-12 text-dark px-md-5 h5 pt-3 ">Music </div>
<div class="container-md col-12 mb-2 px-md-5 p-3 clearfix" style=""> 
  {% for d in music %}
    <div class="float-start col-5 col-md-2 mx-2">
        <div class=" p-0 m-0 " style="
              background-image:url('{{d.thumb.url}}');
              background-color:blue;
              height:130px;
              border-radius:5% 5% 0px 0px;
              background-position:center center;
              background-size: auto 100%;
            ">
            </div>
        <a class="" href="{{d.get_absolute_url}}">
            <div id="cap">
              <div class="text-dark p-2 h6" style="">{{d.title}}</div>
            </div>
            <div>
              <div style="font-size:9px;">{{d.l_updated}}</div>
            </div>
       </a>
    </div>
  {% endfor %}

  
</div>



{% endblock %}

