<div class="col-12 d-none d-md-block" style="position:absolute">
<nav class="navbar navbar-expand-lg col-md-10  mx-auto  navbar-dark  sticky-top " style="position:relative;">
  <div class="container-fluid">
    <a class="navbar-brand mx-2" href="{% url 'home' %}">ZedMusicBuzz</a>
  <div class="d-none d-md-block col-7"></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent" style="">
     {% comment %} <form class="d-flex col-8 my-1 mx-3 px-5">
        <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Q</button>
      </form> {% endcomment %}
      <ul class="navbar-nav me-auto col-4 ml-auto mb-2 mb-lg-0 px-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Blog</a>
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Media
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li><a class="dropdown-item" href="{% url 'articles:music-list' %}">Music</a></li>
            <li><a class="dropdown-item" href="{% url 'articles:videos-list' %}">Videos</a></li>
            <li><a class="dropdown-item" href="{% url 'articles:movies-list' %}">Movies</a></li>
             <li><a class="dropdown-item" href="{% url 'articles:serries-list' %}">Serries</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" href="{% url 'articles:add-post' %}">upload</a></li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Album</a>
        </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">About</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
</div>




{% comment %} for mobile {% endcomment %}


<div class="col-12 d-block d-md-none " >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " >
    <div class="container-fluid">
      <a class="navbar-brand mx-2" href="{% url 'home' %}">ZedMusicBuzz</a>
    <div class="d-none d-md-block col-7"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent" style="">
       {% comment %} <form class="d-flex col-8 my-1 mx-3 px-5">
          <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Q</button>
        </form> {% endcomment %}
        <ul class="navbar-nav me-auto col-4 ml-auto mb-2 mb-lg-0 px-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Blog</a>
          </li>
          <li class="nav-item">
            
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Media
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" href="{% url 'articles:music-list' %}">Music</a></li>
              <li><a class="dropdown-item" href="{% url 'articles:videos-list' %}">Videos</a></li>
              <li><a class="dropdown-item" href="{% url 'articles:movies-list' %}">Movies</a></li>
               <li><a class="dropdown-item" href="{% url 'articles:serries-list' %}">Serries</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">upload</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Album</a>
          </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
  </div>
  
  